In [1]:
import pandas as pd
import json

# JSONを読み込む
## シンプルな構造のJSON
[link: JSONファイルをフラットなpandasデータフレームに変換](https://qiita.com/kawada2017/items/937b6bd5ea81ea7974ad "JSONファイルをフラットなpandasデータフレームに変換")

In [2]:
# sample1
json_file='sample1.json'
df = pd.read_json(json_file)
df

     id  UP_TIME  POWER  TEMP  ERR_CD
0  1000        0    948   250     NaN
1  1000        1    945   251     1.0

## ネスト構造

In [3]:
# sample2をまずはそのまま読み込む
json_file='sample2.json'
df = pd.read_json(json_file)
df

                             id                       sensor           code
0  {'M_CD': 1000, 'UP_TIME': 0}  {'POWER': 948, 'TEMP': 250}            NaN
1  {'M_CD': 1000, 'UP_TIME': 1}  {'POWER': 945, 'TEMP': 251}  {'ERR_CD': 1}

- 読み込むことはできるが入れ子構造がうまく解析されていない
## json.loadで配列に読み出す

In [5]:
with open(json_file, encoding='utf-8') as f:
    nest_json_data = json.load(f)

# pandasでノーマライズ
df = pd.json_normalize(nest_json_data)
df

   id.M_CD  id.UP_TIME  sensor.POWER  sensor.TEMP  code.ERR_CD
0     1000           0           948          250          NaN
1     1000           1           945          251          1.0

## ネスト構造かつリストを含む場合
- まずはノーマライズしてみる

In [6]:
json_file = 'sample3.json'

with open(json_file, encoding='utf-8') as f:
    nest_json_data = json.load(f)

# pandasでノーマライズ
df = pd.json_normalize(nest_json_data)
df

,id.M_CD,id.UP_TIME,sensor.POWER,sensor.TEMP,code
0,1000,0,948,250,NaN
1,1000,1,945,251,"[{'ERR_CD': 1, 'MESSAGE': 'part1'}]"
2,1000,2,943,255,"[{'ERR_CD': 2, 'MESSAGE': 'part2'}, {'ERR_CD':..."

## フラット化しPandasで読み込む関数

In [8]:
# フラット化
def flatten(d, parent_key='', sep='.'):
    items = []
    for k, v in d.items():
        # 列名の生成
        new_key = parent_key + sep + k if parent_key else k
        # 辞書型項目のフラット化
        if isinstance(v, dict):
            items.extend(flatten(v, new_key, sep=sep).items())
        # リスト項目のフラット化
        elif isinstance(v, list):
            new_key_tmp = new_key
            for i, elm in enumerate(v):
                new_key = new_key_tmp + sep + str(i)
                # リストの中の辞書
                if isinstance(elm, dict):
                    items.extend(flatten(elm, new_key, sep=sep).items())
                # 単なるリスト
                else:
                    items.append((new_key, elm))
        # 値追加
        else:
            items.append((new_key, v))
    return dict(items)


def flattenJsonFile(jsonfile, rowsroot, sep='.'):
    """
    JSONファイルを読み込み2次元のpandas DataFrameに変換する

    Parameters
    ----------
    jsonfile : string
        JSONファイルパス
    rowsroot : string
        フラット化するルートエレメント名。トップからでいい場合は空文字を入力する
    sep : string
        ノーマライズされていないエレメントを区切る文字

    Returns
    -------
    df : pandas.DataFrame
        フラット化されたpandas DataFrame
    """
    # JSONファイルを読込
    with open(jsonfile, encoding='utf-8') as f:
        d = json.load(f)

    # df化したい辞書リストのルート項目を指定
    if rowsroot != '':
        d = d[rowsroot]

    # フラット化
    dlist = []
    for di in d:
        dlist.append(flatten(di, sep=sep))

    # フラット化された辞書をpandasデータフレームに変換
    return pd.DataFrame.from_dict(dlist)

In [11]:
flattenJsonFile('sample3.json','')

,id.M_CD,id.UP_TIME,sensor.POWER,sensor.TEMP,code.0.ERR_CD,code.0.MESSAGE,code.1.ERR_CD,code.1.MESSAGE
0,1000,0,948,250,NaN,NaN,NaN,NaN
1,1000,1,945,251,1.0,part1,NaN,NaN
2,1000,2,943,255,2.0,part2,3.0,part3

In [ ]:
df_automate = flattenJsonFile('power_automate.json','')
df_automate

## resultsのJSONのみ抽出する

In [2]:
# まずはシリアライズ
json_file = 'power_automate.json'

with open(json_file, encoding='utf-8') as f:
    nest_json_data = json.load(f)

# pandasでノーマライズ
df = pd.json_normalize(nest_json_data)
df

,Id,IsHiddenInUI,LoginName,Title,PrincipalType,Email,Expiration,IsEmailAuthenticationGuestUser,IsShareByEmailGuestUser,IsSiteAdmin,UserPrincipalName,__metadata.id,__metadata.uri,__metadata.type,Alerts.__deferred.uri,Groups.__deferred.uri,UserId.__metadata.type,UserId.NameId,UserId.NameIdIssuer
0,10,False,i:0#.f|membership|tsubo.kengo@mail.canon,tsubo.kengo,1,tsubo.kengo@mail.canon,,False,False,False,tsubo.kengo@mail.canon,https://canoninc.sharepoint.com/sites/verifyin...,https://canoninc.sharepoint.com/sites/verifyin...,SP.User,https://canoninc.sharepoint.com/sites/verifyin...,https://canoninc.sharepoint.com/sites/verifyin...,SP.UserIdInfo,10032002164e65ae,urn:federation:microsoftonline
1,12,False,i:0#.f|membership|yoshida.shunetsu@mail.canon,yoshida.shunetsu,1,yoshida.shunetsu@mail.canon,,False,False,False,yoshida.shunetsu@mail.canon,https://canoninc.sharepoint.com/sites/verifyin...,https://canoninc.sharepoint.com/sites/verifyin...,SP.User,https://canoninc.sharepoint.com/sites/verifyin...,https://canoninc.sharepoint.com/sites/verifyin...,SP.UserIdInfo,1003200064da53b7,urn:federation:microsoftonline

## Power AutomateのJSONを解析したい場合はネストされた項目から必要項目のみ抜き出した方が扱いやすい
- flattenで1行xx列のデータにすると、ユーザーID毎に行を作成できないため

In [5]:
# まずはシリアライズ
json_file = '20240221_84_response.json'

with open(json_file, encoding='utf-8') as f:
    nest_json_data = json.load(f)

# pandasでノーマライズ
df = pd.json_normalize(nest_json_data)
df

,management_lblname,management_sysname,management_id,management_code,usage,category,affiliation,history
0,タグ1,タグ1,387,E2801191A5030063AE84ABFE,person,装着メンバー,テスト部門,"[{'time': '2024-02-21T00:45:04Z', 'site_pid': ..."
1,タグ2,タグ2,388,E2801191A5030063AE84ABDE,person,装着メンバー,テスト部門,"[{'time': '2024-02-21T00:45:03Z', 'site_pid': ..."
2,タグ3,タグ3,389,E2801191A5030063AE84ABCE,person,装着メンバー,テスト部門,"[{'time': '2024-02-21T00:45:47Z', 'site_pid': ..."
3,タグ4,タグ4,390,E2801191A5030063AE84ABBE,person,装着メンバー,テスト部門,"[{'time': '2024-02-21T00:45:00Z', 'site_pid': ..."
4,タグ5,タグ5,391,E2801191A5030063AE84ABAE,person,装着メンバー,テスト部門,"[{'time': '2024-02-21T00:45:03Z', 'site_pid': ..."
5,タグ6,タグ6,392,E2801191A5030063AE84AB9E,person,装着メンバー,テスト部門,"[{'time': '2024-02-21T00:45:06Z', 'site_pid': ..."

In [7]:
df.describe()

       management_id
count       6.000000
mean      389.500000
std         1.870829
min       387.000000
25%       388.250000
50%       389.500000
75%       390.750000
max       392.000000

In [10]:
import pandas as pd
import json

# JSONファイルのパス
json_file = '20240221_84_response.json'

# 結合用のリスト
dfs = []

# JSON開く
with open(json_file, encoding='utf-8') as f:
    json_data = json.load(f)

# 各"histories"を処理する
for history in json_data["histories"]:
    # "history"キーの値を取得する
    history_data = history["history"]
    
    # リストからDataFrameを作成する
    df = pd.DataFrame(history_data)
    
    # DataFrameをリストに追加する
    dfs.append(df)

# リストのインデックスを管理lblnameに設定する
for i, df in enumerate(dfs):
    df.index = [json_data["histories"][i]["management_lblname"]] * len(df)

# リストからDataFrameを作成する
result = pd.concat(dfs)

In [12]:
result.to_excel('eagle_eye.xlsx')